/* CSS Variables */
:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background: url(https://images.unsplash.com/photo-1594602247823-6d907063311b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80)
    no-repeat center center/cover;
  font-family: "Lato", sans-serif;
  text-align: center;
}
.wrapper {
  position: relative;
}

header {
  position: fixed;
  top: 0;
  min-height: 75px;
  width: 100%;
  padding: 0px;
  display: grid;
  background: url(https://images.unsplash.com/photo-1594602247823-6d907063311b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80)
    no-repeat center center/cover;
  /* opacity: 0.9; */
  color: white;
  grid-template-columns: 1fr 2fr;
  z-index: 1;
  box-shadow: var(--shadow);
}

#nav-bar {
  margin-top: 50px;
}

header .logo {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: flex-start;
}

.nav-link {
  color: rgb(255, 255, 255);
  padding: 5px;
  text-shadow: 0 1px 0 #ccc,
  0 2px 0 #c9c9c9,
  0 3px 0 #bbb,
  0 4px 0 #b9b9b9,
  0 5px 0 #aaa,
  0 6px 1px rgba(0,0,0,.1),
  0 0 5px rgba(0,0,0,.1),
  0 1px 3px rgba(0,0,0,.3),
  0 3px 5px rgba(0,0,0,.2),
  0 5px 10px rgba(0,0,0,.25),
  0 10px 10px rgba(0,0,0,.2),
  0 20px 20px rgba(0,0,0,.15);
}

.logo .my-name {
  max-width: 100%;
  display: block;
  /* height: auto; */
  margin-left: 10px;
  font-family: "Lobster", cursive;
}

.container {
  margin-top: 150px;
  position: absolute;
}

.menu-btn {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 2;
  display: none;
}

.main-section {
  display: flex;
  width: 1000px;
  flex-direction: column;
  justify-content: space-around;
  height: 500px;
  background-color: orange;
  margin: 0 auto;
  text-align: left;
  flex-wrap: wrap;
  box-shadow: var(--shadow);
  border-radius: 7px;
}
#email {
  border-radius: 5px;
}
.grid {
  display: flex;
}
.icon {
  flex: 1;
  text-align: center;
}
.desc {
  flex: 4;
  padding: 10px;
}
p {
  line-height: 1.5;
}
.guitar-hero {
  margin-top: 250px;
  margin-bottom: 100px;
}
.guitar-video {
  margin-top: 30px;
  color: var(--primary);
}

#pricing #steel-string,
#nylon-string {
  transition: all 1s;
  color: var(--light);
}

#pricing #steel-string:hover,
#nylon-string:hover {
  transform: scale(1.1);
}

.comment {
  font-size: 1.2em;
}
.text-message textarea {
  font-size: 1.2em;
}

#contact .contact-form {
  display: grid;
  grid-template-columns: 1fr;
}
#contact .contact-form .contact-input {
  padding: 5px;
  height: 40px;
  margin-bottom: 15px;
  border-radius: 5px;
  font-size: 1.2em;
}
.contact-form .comment {
  margin-top: 15px;
}
footer {
  margin-top: 50px;
}

/* border for all contents */
/* header .logo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: flex-start;
} */
/* header .navbar {
    border: 2px solid red;
    display: grid;
  } */

/* header #nav-bar {
  display: grid;

  align-items: center;
} */

.logo .my-name {
  max-width: 100%;
  display: block;
  height: 100%;
  margin-left: -90px;
}

.top-links {
  display: grid;
  /* align-items: center;
    justify-content: center;
    justify-items: center; */
  grid-template-columns: repeat(4, 1fr);
  padding: 0;
  text-transform: uppercase;
  font-size: 1.5em;
  list-style: none;
  text-align: center;
}

.top-links a {
  text-decoration: none;
  /* box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8); */
  margin-right: 0.5em;
  /* // background-color: white; */
}

.top-links a:hover {
  background-color: black;
  color: white;
}

/* need to enable .top-links a display: block*/
.top-links a {
  display: block;
}
.logo {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  margin-left: 30px;
}

.logo .my-name {
  max-width: 100%;
  display: block;
  /* height: auto; */
  margin-left: 5px;
}

.button {
  width: 200px;
  height: 50px;
  border: 0;
  border-radius: 5px;
  text-transform: uppercase;
  margin: 15px 0;
  background-color: #f5b70c;
  font-size: 1.5rem;
  box-shadow: var(--shadow);
}

#email {
  width: 300px;
  height: 50px;
  font-size: 1rem;
  padding: 0 5px;
}

#video {
  margin-top: 2.5em;
}
.guitar-demo {
  display: inline-block;
  box-shadow: var(--shadow);
}
.for-guitar {
  margin-bottom: 1em;
}

#pricing {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
}

#pricing li {
  list-style: none;
  line-height: 2em;
}
#nylon-string {
  border: transparent;
  margin: 3em;
  box-shadow: var(--shadow);
}
#steel-string {
  border: transparent;
  margin: 3em;
  box-shadow: var(--shadow);
}

.guitar-item {
  font-size: 25px;
  background: var(--dark);
  color: white;
  padding: 0.5em;
}

.price {
  font-weight: bolder;
  font-size: 2rem;
  padding: 10px 5px;
}

.btn {
  background-color: #f1c40f;
  font-size: 1.5rem;
  font-weight: bold;
  width: 200px;
  height: 70px;
  margin: 10px;
}

.footer-wrapper {
  background-color: var(--dark);
  color: var(--light);
  height: 100%;
  text-align: center;
}
.footer-wrapper p {
  padding-top: 10px;
}

/* This is the next point */

#contact {
  width: 400px;
  height: 480px;
  margin: auto;
  /* // border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background: skyblue;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  border: 1px solid skyblue;
}

#contact > div {
  margin-top: 15px;
}

#contact::after {
  content: "";
  background: url(./bg-01.jpg);
  background-position: center;
  backface-visibility: 0.4;
  background-repeat: no-repeat;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 30px;
  color: #f9f9f9;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.comment #submit-message {
  width: 200px;
  height: 50px;
  font-size: 1.2em;
  border: 1px solid #428bca;
}

.contact-input {
  width: 300px;
  height: 30px;
  margin-bottom: 10px;

  border: none;
}

textarea {
  width: 300px;
}

#submit-message {
  background-color: #428bca;
  box-shadow: var(--shadow);
  border-radius: 5px;
  color: var(--light);
}

#submit-message:hover {
  background-color: #75e6f5;
  text-shadow: 2px 2px 4px #000000;
  -webkit-box-shadow: -1px 10px 16px 3px rgba(108, 188, 250, 0.7);
  -moz-box-shadow: -1px 10px 16px 3px rgba(108, 188, 250, 0.7);
  box-shadow: -1px 10px 16px 3px rgba(108, 188, 250, 0.7);

  animation-name: background-color;
  animation-duration: 500ms;
  /* Only change code below this line */
  animation-fill-mode: forwards;
  /* Only change code above this line */
}
@keyframes background-color {
  100% {
    background-color: #4791d0;
  }
}

.button:hover {
  animation-name: background-color;
  animation-duration: 500ms;
  /* Only change code below this line */
  animation-fill-mode: forwards;
  /* Only change code above this line */
}
@keyframes background-color {
  100% {
    background-color: #fccb44;
  }
}

.button:hover {
  animation-name: background-color;
  animation-duration: 500ms;
  /* Only change code below this line */
  animation-fill-mode: forwards;
  /* Only change code above this line */
}
@keyframes background-color {
  100% {
    background-color: #fccb44;
  }
}

@media (max-width: 1020px) {
  .main-section {
    width: 800px;
    height: 100%;
    margin-top: 80px;
  }
  footer {
    margin-top: 90px;
  }
}

@media (max-width: 820px) {
  header {
    position: relative;
  }
  .main-section {
    width: 600px;
    height: 100%;
    margin-top: 90px;
  }
  .main-section #features {
    margin: 10px;
    padding: 10px;
  }

  .guitar-hero {
    margin-top: 200px;
  }
  .guitar-video {
    margin-top: 30px;
  }
  footer {
    margin-top: 50px;
  }
}

/* media queries for header section */
@media (max-width: 700px) {
  header {
    display: grid;
    padding: 0;
    margin: 0;
    grid-template-columns: 1fr;
  }
  .container {
    margin-top: 300px;
  }
  .top-links {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  .top-links a {
    margin-right: 0;
  }
  #contact {
    width: 80vw;
    margin: auto;
  }
  .contact-input,
  textarea {
    width: 250px;
  }
}

@media (max-width: 600px) {
  header {
    position: relative;
  }

  .my-name {
    text-align: left;
    /* padding-left: 5px; */
  }

  .top-links {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    height: 100%;
    /* border: springgreen 1px solid; */
  }

  .top-links .nav-link {
    color: var(--dark);
    font-size: 1.3rem;
  }

  .main-section {
    width: 350px;
    height: 100%;
    margin-top: 50px;
    text-align: center;
    box-shadow: var(--shadow);
  }
  .guitar-hero {
    margin-top: 80px;
  }
  .guitar-video {
    margin-top: 30px;
  }
  .guitar-demo #video {
    width: 70vw;
    height: 200px;
  }
  .guitar-hero #email {
    width: 80vw;
  }
  .main-section {
    width: 80vw;
  }
  .icon {
    display: none;
  }

  .comment {
    margin: auto;
    margin-top: 15px;
  }
  footer {
    margin-top: 80px;
  }
  /* style for show box menu */
  .menu-btn {
    display: block;
    color: var(--light);
  }

  .menu-btn:hover {
    opacity: 0.5;
  }

  /* style for show box menu */
  #header ul.top-links {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #f2f2f2;
    width: 50%;
    height: 100vh;
    border-right: #ccc 1px solid;
    opacity: 0.9;
    padding: 30px;
    transform: translateX(-500px);
    transition: transform 0.5s ease-in-out;
  }

  #header ul.top-links li {
    padding: 10px;
    border-bottom: #ccc solid 1px;
    font-size: 14px;
  }

  #header ul.top-links li:last-child {
    border-bottom: 0;
  }

  #header ul.top-links.show {
    transform: translateX(-20px);
  }
}

@media (max-width: 450px) {
  .top-links li {
    padding: 5px;
  }
  /* .product-name, .my-name {
    width: 100px;
    height: 100px;
    align-items: center;
  } */
  .my-name {
    display: grid;
    margin: 0;
    text-align: center;
    align-items: center;
  }
  .logo {
    display: grid;
    grid-template-columns: 1fr;
    padding: 5px;
  }
  .comment {
    margin: auto;
    margin-top: 15px;
  }
}

/* @media (max-width: 380px) {
  #contact {
    /* width: 100%; */
    width: 80vw;
    height: 400px;
    margin: auto;
    /* // border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(./bg-01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .contact-input {
    width: 250px;
    padding: 5px;
  }
  .comment {
    margin: auto;
  }
  footer {
    margin-top: 80px;
  }
} */
